<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>QAcker</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css" />
<style type="text/css">
  body {
      font-family: verdana;
      width: 100%;
  }

  .spinner {
      width: 80px;
      height: 80px;

      border: 2px solid #f3f3f3;
      border-top: 3px solid #f25a41;
      border-radius: 100%;

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;

      animation: spin 1s infinite linear;
  }

  #result {
      height: 180px;
      background-color: white;
      box-shadow: 0 0 10px 0 #bbb;
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 25px;
  }

  button-con {
      position: relative;
      border: 1px solid currentColor;
      font-size: 1.1rem;
      color: #4f93ce;
      margin: 3rem 0;
      padding: 0.75rem 3rem;
      cursor: pointer;
      -webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
      transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
      overflow: hidden;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
</style>
  <!-- Favicons -->
  <!-- <link href="assets/img/favicon.png" rel="icon"> -->
  <!-- <img src="{{url_for('static', filename='assets/img/favicon.png')}}" rel="icon" /> -->
  <!-- <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->
  <!-- <img src="{{url_for('static', filename='assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon" /> -->

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <!-- <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}">
  <!-- <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}">
  <!-- <link href="assets/vendor/aos/aos.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}">
  <!-- <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}">
  <!-- <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}">

  <!-- Variables CSS Files. Uncomment your preferred color scheme -->
  <!-- <link href="assets/css/variables.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/variables.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/questions.css') }}"> -->

    

  <!-- <link href="assets/css/variables-blue.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-green.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-orange.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-purple.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-red.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-pink.css" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <!-- <link href="assets/css/main.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->  

</head>

<body>


 <!-- ======= Header ======= -->
 <header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="/welcome" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>QAcker<span>.</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>

          <!-- <li class="dropdown"><a href="#"><span>Home</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="index.html" class="active">Home 1 - index.html</a></li>
              <li><a href="index-2.html">Home 2 - index-2.html</a></li>
              <li><a href="index-3.html">Home 3 - index-3.html</a></li>
              <li><a href="index-4.html">Home 4 - index-4.html</a></li>
            </ul>
          </li> -->

          <li><a class="nav-link scrollto" href="/welcome">Home </a></li>
          <li><a class="nav-link scrollto" href="/paraphrase">Paraphraser</a></li>
          <li><a class="nav-link scrollto" href="/Summarize">Summarizer</a></li>
          <li><a class="nav-link scrollto" href="/question_gen">Question Generator</a></li>
          <li><a class="nav-link scrollto" href="/questions">Question Generator 2</a></li>
          <li><a class="nav-link scrollto" href="/answers">Answer Predictor</a></li>
          <li><a class="nav-link scrollto" href="/tts">Text to speech</a></li>
          <li><a class="nav-link scrollto" href="/stt">Speech to text</a></li>
          <li><a class="nav-link scrollto" href="/logout">Logout</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle d-none"></i>
      </nav><!-- .navbar -->

      <!-- <a class="btn-getstarted scrollto" href="index.html#about">Get Started</a> -->

    </div>
  </header>
  <!-- End Header -->




    {% block body %}    {% endblock %}



<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

  <div class="footer-content">
    <div class="container">
      
      <!-- Made With ❤️ by Team Romanticsss <3 -->
      <p>Made With ❤️ by Team Romanticsss <br>
        ©2022, Team Romanticsss <3</p>
   
      
    </div>
  </div>
  

 </footer>
 


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <!-- <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
<script src="{{url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <!-- <script src="assets/vendor/aos/aos.js"></script> -->
  <script src="{{url_for('static', filename='assets/vendor/aos/aos.js')}}"></script>
  <!-- <script src="assets/vendor/glightbox/js/glightbox.min.js"></script> -->
  <script src="{{url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <!-- <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script> -->
  <script src="{{url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <!-- <script src="assets/vendor/swiper/swiper-bundle.min.js"></script> -->
  <script src="{{url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <!-- <script src="assets/vendor/php-email-form/validate.js"></script> -->
  <script src="{{url_for('static', filename='assets/vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <!-- <script src="assets/js/main.js"></script> -->
  <script src="{{url_for('static', filename='assets/js/main.js')}}"></script>


</body>

</html>