{% extends 'base1.html' %}

    
{% block body %}

<head>
    
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="/static/css/jquery-ui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    

    <section class="flex flex-wrap mt-20 w-full">
        <div class="w-full md:w-1/2">
            <form class="w-full flex flex-col md:h-screen" action="{{url_for('Summarize')}}" method="post">
                <textarea class="w-11/12 md:h-3/4 m-2 p-2 border-black rounded-lg border self-center justify-center" style="margin-top: 19px;"
                    name="data" id="data" cols="30" rows="10" placeholder="Enter your Data"
                    required="required"></textarea>
                <div class="flex self-center">
                    <h3>Summary Length</h3>
                    <input type="range" class="m-2" min=minL max=maxL name="maxL">
                </div>
                <div class="flex self-center">
                    <button class="m-1 bg-green-500 hover:bg-blue-700 text-white font-semi-bold py-2 px-4 rounded-lg"
                        type="submit" onclick="Check()">Submit</button>
                    <button class="m-1 bg-red-500 hover:bg-blue-700 text-white font-semi-bold py-2 px-4 rounded-lg"
                        type="reset">Clear</button>
                </div>
            </form>
        </div>
        <!-- <div class="w-full md:w-1/2">
            <div class="mt-2 flex flex-col w-full md:h-screen">
                <textarea "
                    class="w-11/12 border-green-600 rounded-lg p-2 border self-center justify-center md:h-3/4" rows="10"
                    cols="30" name="result" readonly placeholder="Your Summary">{{result}}</textarea>
                <button
                    class="m-2 bg-blue-400 hover:bg-blue-700 text-white font-semi-bold py-2 px-4 rounded-lg self-center"
                    onclick="myFunction()">Copy text</button>
            </div>
        </div> -->
        <!-- ======================================== -->
        <div class="container" style="height:500px">

    	<!-- <h1>Tabby Tabs</h1> -->

    	<div class="tabs" style="height: 430px;">
    		<div class="tabby-tab">
    			<input type="radio" id="tab-1" name="tabby-tabs" checked>
    			<label for="tab-1">Summary 1</label>
    			<div class="tabby-content">


            <textarea
                class="w-11/12 border-green-600 rounded-lg p-2 border self-center justify-center md:h-3/4" rows="10"
                cols="30" name="result" readonly placeholder="Your Summary">{{result}}</textarea>
    			</div>
    		</div>

    		<div class="tabby-tab">
    			<input type="radio" id="tab-2" name="tabby-tabs">
    			<label for="tab-2">Summary 2</label>
    			<div class="tabby-content">

    				<textarea
                class="w-11/12 border-green-600 rounded-lg p-2 border self-center justify-center md:h-3/4" rows="10"
                cols="30" name="result" readonly placeholder="Your Summary">{{result2}}</textarea>
    			</div>
    		</div>

    		<div class="tabby-tab">
    			<input type="radio" id="tab-3" name="tabby-tabs">
    			<label for="tab-3">Summary 3</label>
    			<div class="tabby-content">

    				<textarea
                  class="w-11/12 border-green-600 rounded-lg p-2 border self-center justify-center md:h-3/4" rows="10"
                  cols="30" name="result" readonly placeholder="Your Summary">{{result3}}</textarea>
    			</div>
    		</div>

    		<!-- <div class="tabby-tab">
    			<input type="radio" id="tab-4" name="tabby-tabs">
    			<label for="tab-4">Summary 4</label>
    			<div class="tabby-content">

    				<textarea
                class="w-11/12 border-green-600 rounded-lg p-2 border self-center justify-center md:h-3/4" rows="10"
                cols="30" name="result" readonly placeholder="Your Summary">{{result4}}</textarea>

    			</div>
    		</div> -->

    	</div>
        <!-- ====================================== -->
    </section>
    <script>


        function myFunction() {
            /* Get the text field */
            var copyText = document.getElementById("myInput");

            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /* For mobile devices */

            /* Copy the text inside the text field */
            navigator.clipboard.writeText(copyText.value);
        }
    </script>
    <script>
        function Check() {

            var reg = /<(.|\n)*>/g;

            if (reg.test(document.getElementById("data").value) == true) {
                var ErrorText = 'Make Sure You Provide Valid Data.';
                alert('Error Text');

            }
        }
    </script>
    <!-- ======================================== -->
    <!-- <div class="container">



	<div class="tabs">
		<div class="tabby-tab">
			<input type="radio" id="tab-1" name="tabby-tabs" checked>
			<label for="tab-1">Tabby Tab 1</label>
			<div class="tabby-content">


        <textarea
            class="w-11/12 border-green-600 rounded-lg p-2 border self-center justify-center md:h-3/4" rows="10"
            cols="30" name="result" readonly placeholder="Your Summary">{{result}}</textarea>
			</div>
		</div>

		<div class="tabby-tab">
			<input type="radio" id="tab-2" name="tabby-tabs">
			<label for="tab-2">Tabby Tab 2</label>
			<div class="tabby-content">

				<textarea
            class="w-11/12 border-green-600 rounded-lg p-2 border self-center justify-center md:h-3/4" rows="10"
            cols="30" name="result" readonly placeholder="Your Summary">{{result2}}</textarea>
			</div>
		</div>

		<div class="tabby-tab">
			<input type="radio" id="tab-3" name="tabby-tabs">
			<label for="tab-3">Tabby Tab 3</label>
			<div class="tabby-content">

				<textarea
              class="w-11/12 border-green-600 rounded-lg p-2 border self-center justify-center md:h-3/4" rows="10"
              cols="30" name="result" readonly placeholder="Your Summary">{{result3}}</textarea>
			</div>
		</div>

		<div class="tabby-tab">
			<input type="radio" id="tab-4" name="tabby-tabs">
			<label for="tab-4">Tabby Tab 4</label>
			<div class="tabby-content">

				<textarea
            class="w-11/12 border-green-600 rounded-lg p-2 border self-center justify-center md:h-3/4" rows="10"
            cols="30" name="result" readonly placeholder="Your Summary">{{result4}}</textarea>

			</div>
		</div>

	</div> -->
    <!-- ====================================== -->


  
{% endblock %}