<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'welcome.css')}}">
 	<link rel="stylesheet" type="text/css" href="../static/welcome.css">
</head>
<body>
<div class="main">
	<h1 class="name">Hi, {{name}}</h1><hr style="width: 30%">
	<h3 class="email">{{email}}</h3>
	<a href="http://127.0.0.1:5000/logout"><h2 class="inactive underlineHover">Log out </h2></a>
	<div id="speechContainer">
		<h1>Upload new File</h1>
		<form method="post" enctype="multipart/form-data">
			<input type="file" name="file"/>
			<br>
			<input type="submit" id="submitButton" value="Transcribe"/>
		</form>
	
		{% if transcript != "" %}
			<div id="speechTranscriptContainer">
				<h1>Transcript</h1>
				<p id="speechText">{{ transcript }}</p>
			</div>
		{% endif %}
	</div>
</div>
</body>
</html>